*{
  font-family: "Arial Black", sans-serif;
  color: #fff;
  cursor: default;
}

body{
  background: #03021f;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10% 0 10%;
}

header h1{
  -webkit-text-stroke: 2px white;
  color: transparent;
  cursor: default;
  font-size: 2.1em;
  transition: 1s;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

header h1:hover{
  color: white;
  text-shadow: 0 0 40px white;
}

.navbar a{
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  font-size: 1.2em;
  transition: .5s;
  cursor: pointer;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar .active{
  color: #6bdcff;
}

.navbar a:hover{
  text-shadow: 0 0 40px #9ee8ff;
}

section{
  margin: 5% 10%;
  display: flex;
  align-items: center;
}

section h2{
  font-size: 2em;
  margin: 0 0 0 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards 1.4s;
  -webkit-text-stroke: 2px white;
  color: transparent;
  transition: .5s;
}

section h3{
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: calc(.2s * var(--i))
}

section p{
  font-size: 0.9em;
  opacity: 0;
  animation: slideTop 1s ease forwards 1.8s;
}

section img{
  max-width: 300px;    
  max-height: 300px;
  opacity: 0;
  animation: slideTop 1s ease forwards 2s;
}

section .img{
  animation: animate 5s ease-in-out infinite 3s;
}

section span a{
  color: #0ef;
  text-decoration: none;
  transition: .5s;
}

section span a:hover{
  text-shadow: 0 0 40px #fff;
  color: white;
}

@keyframes slideBottom{
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideTop{
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideRight{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft{
  from{
    transform: translateX(100px);
    opacity: 0;
  }
  
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animate{
  0%{
    transform: translateY(0);
  }
  
  50%{
    transform: translateY(50px);
  }
  
  100%{
    transform: translateY(0);
  }
}
